/* ================== Blob ===================== */
:root {
  --colored-bg-image: linear-gradient(to right, #201eb4 0%, #9c2c03 100%);
  --blur-effect: blur(100px);
}

.blob {
  position: absolute;
  top: -25%;
  left: -18%;
  fill: #ffffffad;
  width: 70vmax;
  z-index: -0.1;
  opacity: 0.7;
  animation: move 9s linear alternate-reverse infinite;
  transform-origin: 50% 50%;
}
svg .dark-shadow {
  -webkit-filter: drop-shadow(1px 3px 3px rgb(0, 0, 0));
  filter: drop-shadow(1px 3px 3px rgb(0, 0, 0));
  -webkit-backdrop-filter: var(--blur-effect);
  backdrop-filter: var(--blur-effect);
}

.dark-shadow:hover {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

@-webkit-keyframes move {
  0% {
    transform: scale(1, 0.4) translate(10vw, 6vh) rotate(50deg);
    opacity: 0.3;
  }

  100% {
    transform: scale(0.8, 0.5) translate(10vw, 20vh) rotate(360deg);
    opacity: 0.7;
  }
}

@keyframes move {
  0% {
    transform: scale(1, 0.4) translate(20vw, 6vh) rotate(50deg);
    opacity: 0.3;
  }

  100% {
    transform: scale(0.8, 0.5) translate(1vw, 10vh)  rotate(360deg);
    opacity: 0.7;
  }
}

@media screen and (max-width: 1449px) {
  .blob {
    position: absolute;
    top: -15%;
    left: -15%;
    fill: #a39f9fad;
    width: 80vmax;
    z-index: -0.1;
    opacity: 0.9;
    animation: move 9s linear alternate-reverse infinite;
    transform-origin: 40% 50%;
  }

  @-webkit-keyframes move {
    0% {
      transform: scale(1, 0.4) translate(10vw, 0vh) rotate(50deg);
      opacity: 0.3;
    }

    100% {
      transform: scale(0.8, 0.5) translate(10vw, 20vh) rotate(360deg);
      opacity: 0.7;
    }
  }

  @keyframes move {
    0% {
      transform: scale(1, 0.4) translate(10vw, 0vh) rotate(50deg);
      opacity: 0.3;
    }

    100% {
      transform: scale(0.8, 0.5) translate(10vw, 20vh) rotate(360deg);
      opacity: 0.7;
    }
  }
}
@media screen and (max-width: 1168px) {
  .blob {
    position: absolute;
    top: -15%;
    left: -15%;
    fill: #a39f9fad;
    width: 90vmax;
    z-index: -0.1;
    opacity: 0.9;
    animation: move 9s linear alternate-reverse infinite;
    transform-origin: 40% 50%;
  }

  @-webkit-keyframes move {
    0% {
      transform: scale(1, 0.4) translate(1vw, 0vh) rotate(50deg);
      opacity: 0.3;
    }

    100% {
      transform: scale(0.8, 0.5) translate(1vw, 20vh) rotate(360deg);
      opacity: 0.8;
    }
  }

  @keyframes move {
    0% {
      transform: scale(1, 0.4) translate(1vw, 0vh) rotate(50deg);
      opacity: 0.3;
    }

    100% {
      transform: scale(0.8, 0.5) translate(1vw, 20vh) rotate(360deg);
      opacity: 0.8;
    }
  }
}
@media screen and (max-width: 991px) {
  .blob {
    position: absolute;
    top: -10%;
    left: -5%;
    fill: #074e88ad;
    width: 100vmax;
    z-index: -0.1;
    opacity: 0.5;
    animation: move 9s linear alternate-reverse infinite;
    transform-origin: 50% 50%;
  }

  @-webkit-keyframes move {
    0% {
      transform: scale(1, 0.4) translate(0vw, 10vh) rotate(30deg);
      opacity: 0.3;
    }

    100% {
      transform: scale(0.8, 0.6) translate(0vw, 0vh) rotate(360deg);
      opacity: 0.8;
    }
  }

  @keyframes move {
    0% {
      transform: scale(1, 0.4) translate(0vw, 10vh) rotate(30deg);
      opacity: 0.3;
    }

    100% {
      transform: scale(0.8, 0.6) translate(0vw, 0vh) rotate(360deg);
      opacity: 0.8;
    }
  }
}
@media screen and (max-width: 769px) {
  .blob {
    position: absolute;
    top: 10%;
    left: -5%;
    fill: #4b4747ad;
    width: 80vmax;
    z-index: -0.1;
    opacity: 0.9;
    animation: move 9s linear alternate-reverse infinite;
    transform-origin: 50% 50%;
  }

  @-webkit-keyframes move {
    0% {
      transform: scale(1, 0.4) translate(0vw, 0vh) rotate(30deg);
      opacity: 0.3;
    }

    100% {
      transform: scale(0.8, 0.6) translate(0vw, 0vh) rotate(360deg);
      opacity: 0.8;
    }
  }

  @keyframes move {
    0% {
      transform: scale(1, 0.4) translate(0vw, 0vh) rotate(30deg);
      opacity: 0.3;
    }

    100% {
      transform: scale(0.8, 0.6) translate(0vw, 0vh) rotate(360deg);
      opacity: 0.8;
    }
  }
}
@media screen and (max-width: 769px) {
  .blob {
    position: absolute;
    top: 10%;
    left: -5%;
    fill: #4b4747ad;
    width: 80vmax;
    z-index: -0.1;
    opacity: 0.9;
    animation: move 9s linear alternate-reverse infinite;
    transform-origin: 50% 50%;
  }

  @-webkit-keyframes move {
    0% {
      transform: scale(1, 0.4) translate(0vw, 0vh) rotate(30deg);
      opacity: 0.3;
    }

    100% {
      transform: scale(0.8, 0.6) translate(0vw, 0vh) rotate(360deg);
      opacity: 0.8;
    }
  }

  @keyframes move {
    0% {
      transform: scale(1, 0.4) translate(0vw, 0vh) rotate(30deg);
      opacity: 0.3;
    }

    100% {
      transform: scale(0.8, 0.6) translate(0vw, 0vh) rotate(360deg);
      opacity: 0.8;
    }
  }
}
@media screen and (max-width: 520px) {
  .hero_background {
    background: none;
  }
  .blob {
    position: absolute;
    top: 15%;
    left: -15%;
    fill: #a70000ad;
    min-height: 100vh;
    z-index: -0.1;
    opacity: 0.9;
    animation: move 9s linear alternate-reverse 1;
    transform-origin: 50% 50%;
    background-image: var(--colored-bg-image);
  }

  @-webkit-keyframes move {
    0% {
      all: unset;
    }

    100% {
      all: unset;
    }
  }

  @keyframes move {
    0% {
      all: unset;
    }

    100% {
      all: unset;
    }
  }
  svg .dark-shadow {
    -webkit-filter: drop-shadow(1px 3px 3px rgb(0, 0, 0));
    filter: drop-shadow(1px 3px 3px rgb(0, 0, 0));
    -webkit-backdrop-filter: var(--blur-effect);
    backdrop-filter: var(--blur-effect);
  }
}
