/* ================== Blob ===================== */
:root {
  --colored-bg-image: linear-gradient(to right, #201eb4 0%, #9c2c03 100%);
  --blur-effect: blur(100px);
}

.blob {
  position: absolute;
  top: -25%;
  left: -18%;
  fill: #5d0f0fad;
  width: 75vmax;
  z-index: -0.1;
  opacity: 0.7;
  transform-origin: 50% 50%;
  transform: scale(0.8, 0.4) translate(10vw, 0vh) rotate(200deg);
}
svg .dark-shadow {
  -webkit-filter: drop-shadow(1px 3px 3px rgb(0, 0, 0));
  filter: drop-shadow(1px 3px 3px rgb(0, 0, 0));
  -webkit-backdrop-filter: var(--blur-effect);
  backdrop-filter: var(--blur-effect);
}

.dark-shadow:hover {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

@media screen and (max-width: 1449px) {
  .blob {
    position: absolute;
    top: -10%;
    left: -15%;
    fill: #a39f9fad;
    width: 80vmax;
    z-index: -0.1;
    opacity: 0.9;
    transform: scale(0.7, 0.5) translate(10vw, 0vh) rotate(200deg);
    transform-origin: 50% 50%;
  }
}

@media screen and (max-width: 1168px) {
  .blob {
    position: absolute;
    top: -15%;
    left: -15%;
    fill: #223e5ead;
    width: 95vmax;
    z-index: -0.1;
    opacity: 0.9;
    transform-origin: 50% 50%;
    transform: scale(1, 0.6) translate(1vw, 20vh) rotate(220deg);
  }
}

@media screen and (max-width: 991px) {
  .blob {
    position: absolute;
    top: -10%;
    left: -5%;
    fill: #074e88ad;
    width: 100vmax;
    z-index: -0.1;
    opacity: 0.5;
    transform-origin: 50% 50%;
  }
}

@media screen and (max-width: 769px) {
  .blob {
    position: absolute;
    top: 10%;
    left: -5%;
    fill: #4b4747ad;
    width: 80vmax;
    z-index: -0.1;
    opacity: 0.9;
    transform-origin: 50% 50%;
    transform: scale(0.8, 0.8) translate(0vw, 0vh) rotate(360deg);
  }
}

@media screen and (max-width: 769px) {
  .blob {
    position: absolute;
    top: 10%;
    left: -20%;
    fill: #4b4747ad;
    width: 85vmax;
    z-index: -0.1;
    opacity: 0.9;
    transform: scale(0.8, 0.8) translate(0vw, 0vh) rotate(360deg);
    transform-origin: 50% 50%;
  }
}

@media screen and (max-width: 520px) {
  .hero_background {
    background: none;
  }
  .blob {
    position: absolute;
    top: 0%;
    left: -30%;
    fill: #626060ad;
    min-height: 100vh;
    z-index: -0.1;
    opacity: 0.9;
    transform-origin: 50% 50%;
    transform: scale(0.9, 0.8) translate(0vw, 10vh) rotate(250deg);
  }

  svg .dark-shadow {
    -webkit-filter: drop-shadow(1px 3px 3px rgb(0, 0, 0));
    filter: drop-shadow(1px 3px 3px rgb(0, 0, 0));
    -webkit-backdrop-filter: var(--blur-effect);
    backdrop-filter: var(--blur-effect);
  }
}
