@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --main-font: "Catamaran", sans-serif;
  --transition: 0.5s;
  --clr-primary: #63130c;
  --glass-text-shadow: 1px 3px 1 #969696, 1px 8px 5px #aba8a8;
  --clr-white: #ffffff;
}

.hide {
  display: none;
}

.hide2 {
  visibility: hidden;
}

.card-main-container {
  display: flex;
  position: relative;
  flex-direction: column;
  background: rgb(1, 1, 1);
  background: linear-gradient(rgba(85, 72, 72, 0.5), rgba(75, 63, 63, 0.5)),
    url("../img/more/nature5.jpeg") center/cover no-repeat fixed;
  padding-bottom: 1rem;
  margin-top: 3rem;
  box-shadow: none;
  min-height: 70vh;
  min-width: auto;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  overflow-x: hidden;
}

@media screen and (min-width: 1679px) {
  .card-list {
    margin: auto;
  }
}

.card-list {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  grid-gap: 2rem;
  grid-template-columns: repeat(6, calc(50% - 40px));
  grid-template-rows: repeat(150px, 1fr);
}

.card-list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.card-list::-webkit-scrollbar-thumb {
  background: #615455;
  border-radius: 1px;
}

.card-list::-webkit-scrollbar-track {
  background: rgb(90, 79, 79);
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 350px;
  min-width: 250px;
  padding: 1.5rem;
  transition: 0.4s;
  cursor: pointer;
  border-radius: 0.4rem;
  background: transparent;
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.79);
}

.card:hover {
  /* transform: translateY(-1.5rem) !important; */
  transition: 0.4s;
  transform: scale(1.05);
  box-shadow: inset 0px 2px 0px -5px rgba(95, 5, 5, 0.81);
}

.card:active {
  transform: scale(1.1);
}

.card:hover ~ .card {
  transform: translateY(1.2rem);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.card:not(:first-child) {
  margin-left: -3rem;
}

.card::before {
  content: "";
  position: absolute;
  width: 28%;
  height: 1%;
  top: 42%;
  left: 40%;
  border-radius: 0.5rem;
  transition: 0.4s;
  background: #f2f5f2;
  opacity: 0.3;
  transform: translateX(-1rem);
  -webkit-backdrop-filter: blur(20%);
  backdrop-filter: blur(20%);
  box-shadow: 0 5px 10px rgba(245, 242, 242, 0.5);
}

.card:hover::before {
  visibility: visible;
  transition: 0.4s;
  width: 50%;
  height: 1%;
  top: 6%;
  left: 30%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  box-shadow: 0 300px 1px rgba(245, 242, 242, 0.5);
}

.card-header {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  box-shadow: inset 1px 0px 12px 4px rgba(2, 2, 2, 0.59);
  border-radius: 0.4rem !important;
}

.card-author {
  flex: 1;
  position: relative;
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  box-shadow: inset 1px 0px 12px 4px #000000;
  box-shadow: inset 13px 1px 6px -13px rgba(95, 5, 5, 0.81);
}

.author-avator img {
  position: relative;
  width: 60px;
  height: 60px;
  transition: 0.4s;
  border: 0.4rem solid transparent;
  border-radius: 50%;
  margin: 16px 10px;
}

.author-name-prefix {
  font-style: normal;
  font-weight: 700;
  color: #7a7a8c;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.author-avator:hover img {
  position: relative;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  border: 0.4rem solid rgb(149, 89, 89);
  transition: 0.4s;
  margin-right: 1rem;
  transition: var(--transition);
}

.card-header p:hover {
  background: linear-gradient(45deg, #f8f5fa 50%, #c43a30 100%);
  text-shadow: none;
  transition: var(--transition);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-header p {
  text-align: center;
  flex: 1;
  color: var(--clr-white);
  font-size: large;
}

.card-header h3 {
  font-size: 25px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: var(--clr-white);
  opacity: 0.7;
  text-shadow: var(--glass-text-shadow);
  flex: 1;
}

.dragging {
  opacity: 0.1;
  border: transparent;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background: linear-gradient(rgba(58, 34, 34, 0.5), rgba(73, 46, 46, 0.5)),
    url("/public/img/more/computer_2.jpeg") center/cover no-repeat fixed;
}
