@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
*,
::before,
::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --main-font: 'Catamaran', sans-serif;
    --transition: .5s;
    --clr-primary: #63130c;
    --glass-text-shadow: 1px 3px 1 #969696, 1px 8px 5px #aba8a8;
    --clr-white: #ffffff;
}

.hide {
    display: none;
}

.hide2 {
    visibility: hidden;
}

.card-main-container {
    display: flex;
    position: relative;
    flex-direction: column;
    background: rgb(1, 1, 1);
    background: linear-gradient(24deg, rgb(32, 59, 75) 74%, rgb(13, 54, 54) 100%, rgb(12, 56, 83) 75%);
    padding-bottom: 1rem;
    margin-top: 3rem;
    box-shadow: none;
    overflow-x: hidden;
}

@media screen and (min-width: 1679px) {
    .card-list {
        margin: auto;
    }
}

.card-list {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    grid-gap: 2rem;
    grid-template-columns: repeat(6, calc(50% - 40px));
    grid-template-rows: repeat(150px, 1fr);
}

.card-list::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.card-list::-webkit-scrollbar-thumb {
    background: #615455;
    border-radius: 1px;
}

.card-list::-webkit-scrollbar-track {
    background: rgb(90, 79, 79);
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 350px;
    min-width: 250px;
    padding: 1.5rem;
    transition: .4s;
    cursor: pointer;
    border-radius: .4rem;
    background: transparent;
    -webkit-box-shadow: inset 1px 0px 25px 15px rgba(0, 0, 0, 0.79);
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.79);
}

.card:hover {
    /* transform: translateY(-1.5rem) !important; */
    transition: .4s;
    transform: scale(1.05);
    -webkit-box-shadow: inset 20px 1px 6px 0px rgba(114, 9, 9, 0.81);
    box-shadow: inset 0px 2px 0px -5px rgba(95, 5, 5, 0.81);
}

.card:active {
    transform: scale(1.1);
}

.card:hover~.card {
    transform: translateY(1.2rem);
    filter: grayscale(100%);
}

.card:not(:first-child) {
    margin-left: -3rem;
}

.card::before {
    content: '';
    position: absolute;
    width: 28%;
    height: 1%;
    top: 42%;
    left: 40%;
    border-radius: .5rem;
    transition: .4s;
    background: #f2f5f2;
    opacity: .3;
    transform: translateX(-1rem);
    backdrop-filter: blur(20%);
    box-shadow: 0 5px 10px rgba(245, 242, 242, 0.5);
}

.card:hover::before {
    visibility: visible;
    transition: .4s;
    width: 50%;
    height: 1%;
    top: 6%;
    left: 30%;
    filter: grayscale(100%);
    backdrop-filter: blur(100px);
    box-shadow: 0 300px 1px rgba(245, 242, 242, 0.5);
}

.card-header {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    -webkit-box-shadow: inset 1px 0px 12px 4px rgba(0, 0, 0, 0.59);
    box-shadow: inset 1px 0px 12px 4px rgba(2, 2, 2, 0.59);
    border-radius: .4rem !important;
}

.card-author {
    flex: 1;
    position: relative;
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    -webkit-box-shadow: inset 1px 0px 12px 4px #000000;
    box-shadow: inset 1px 0px 12px 4px #000000;
    -webkit-box-shadow: inset 20px 1px 6px 0px rgba(114, 9, 9, 0.81);
    box-shadow: inset 13px 1px 6px -13px rgba(95, 5, 5, 0.81);
}

.author-avator img {
    position: relative;
    width: 60px;
    height: 60px;
    transition: .4s;
    border: .4rem solid transparent;
    border-radius: 50%;
    margin: 16px 10px;
}

.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
    user-select: none;
}

.author-avator:hover img {
    position: relative;
    filter: grayscale(0%);
    border: .4rem solid rgb(149, 89, 89);
    transition: .4s;
    margin-right: 1rem;
    transition: var(--transition);
}

.card-header p:hover {
    background: linear-gradient(45deg, #f8f5fa 50%, #c43a30 100%);
    text-shadow: none;
    transition: var(--transition);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-header p {
    text-align: center;
    flex: 1;
    color: var(--clr-white);
    font-size: large;
}

.card-header h3 {
    font-size: 25px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: var(--clr-white);
    opacity: .7;
    text-shadow: var(--glass-text-shadow);
    flex: 1;
}

.dragging {
    opacity: .2;
    background: green;
}