:root {
    --skin-color: #fc1fba;
}

.card-content-div {
    box-shadow: inset 4px 4px 14px rgb(252, 31, 186, .5);
}

.video-wrapper {
    background: rgb(255, 254, 254, .5);
    box-shadow: inset 0px -2rem 14px rgb(59, 59, 59);
}

.video-frame {
    background: rgba(123, 1, 86, 0.1);
}

#video_closeBTN {
    border: 2px solid rgba(123, 1, 86, 0.5);
    color: var(--skin-color);
}

#video_closeBTN:hover {
    color: white;
}

._innerDiv {
    background: rgba(54, 0, 38, 0.5);
    box-shadow: 0px 6px 10px rgb(0, 0, 0, .1);
}